.tag-filters,
.tag-filters.tag-filters--open {
  position: relative;
  left: 0;
  width: 170px;
}

.tag-filters__container {
  margin-top: 50px;
  border-radius: 5px;
  color: $blue;
  background: $white;
  padding-top: 0;
  border-right: 3px solid $blue;
  border-radius: 0;
}

.tag-filters__control {
  display: none;
}

.tag-filters__filter {
  padding: 2px 20px;
  font-weight: 300;
  cursor: pointer;
  font-size: 16px;
}

.tag-filters__filter:hover {
  color: $blue-light;
}