.tag-filters {
  position: absolute;
  width: 200px;
  left: -200px;
  transition: left .2s ease-in-out;
}

.tag-filters.tag-filters--open {
  position: absolute;
  width: 200px;
  left: 0;
  transition: left .2s ease-in-out;

  .tag-filters__control {
    left: 198px;
    transition: left .2s ease-in-out;
  }
}

.tag-filters__container {
  background: $gray-lighter;
  max-width: 200px;
  position: relative;
  font-size: 18px;
  background: $blue;
  color: $white;
  padding: 20px 0;
}

.tag-filters__control {
  width: 50px;
  top: 0;
  height: 50px;
  position: fixed;
  left: 0;
  right: -50px;
  background: $blue;
  background-image: url('./../images/hamburger.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 0px 0px 5px 0px;
  transition: left .2s ease-in-out;
}

.tag-filters__heading {
  padding: 0 20px 16px;
  font-size: 28px;
}

.tag-filters__filter {
  padding: 10px 20px;
  text-transform: capitalize;
  font-weight: 300;
}