.button {
  width: 100%;
}

.button--primary,
.button--primary:hover {
  background : $blue;
  color: $white;
}


.button--secondary,
.button--secondary:hover {
  background: $white;
  color: $blue;
  border: 2px solid $blue;
}