.results__pagination {
  text-align: center;
}

.results__files-container {
  min-height: 500px;
}

.results__page-number {
  font-size: 18px;
  padding: 0 5px;
  font-weight: 300;
  cursor: pointer;
  background: white;

  &--selected {
    font-weight: bold;
    background: white;
  }
}

