.results{
  padding: 50px;
}

.results__heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 26px;
  color: $blue;
}
.results__files-container {

}
.results__pagination {
  padding: 28px 20px;
}

.results__page-number {
  font-size: 24px;
  padding: 0 10px;
  color: $blue-light;
  font-weight: normal;
  padding: 5px 12px;
  background: $gray-light-bg;
  border-radius: 30px;
  margin: 0 3px;

  &--selected {
    font-weight: bold;
    background: $gray-lighter;
    color: $blue;
  }
}

