.input-text {
}

.input-text__label,
.input-text__input {
  display: block;
}

.input-text__label {
  font-size: 18px;
  text-transform: capitalize;
}

.input-text__input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px 15px;
  border: 1px solid $gray-lighter;
}

.input-text__input--invalid {
  border: 2px solid $red;
}

.input-text__warning {
  font-size: 12px;
  color: $red;
  margin-bottom: 10px;
}