.file {
  display: inline-block;
  width: 280px;
  padding: 15px 20px;
}

.file__icon {
  width: 70px;
  height: 70px;
  min-width: 70px;
  background: url('./../images/file.svg');
  background-repeat: no-repeat;
  float: left;
}

.file__name {
  padding: 25px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}