html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: $gray-dark;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
::selection {
  color: $white;
}
::-moz-selection {
  color: $white;
  text-shadow: none;
}
// Number Input Styles
input[type="number"] {
  -moz-appearance: textfield;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// Searchbox Styles
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
strong {
  font-weight: 700;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
}
button {
  height: 50px;
  border-radius: 2px;
  text-align: center;
  background: black;
  color: $white;
  border: 0;
  font-weight: 400;
  padding: 0 16px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  &:hover {
    background: lighten(black, 30%);
  }
  &:focus {
    outline: none;
  }
  &:active {
    background: lighten(black, 15%);
  }
}

input,
select {
  font-size: inherit;
  font-family: inherit;
}

form {
  margin: 0;
}

#root {
  max-width: 1024px;
  margin: 0 auto;
}

.loading-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background: white;
  opacity: 0.9;
  z-index: 9999;
  top: 0;
  display: none;
  left: 0;
}
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid $blue;
  border-radius: 50%;
  top: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  position: absolute;
  left: 47%;
}

body.spinner .loading-container {
    display: block !important;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}