// Screens
$screen-small: 520px;
$screen-medium: 720px;
$screen-large: 1024px;

// Colors
$white: #fff;
$gray-dark: #222;
$gray-4: #444;
$gray-lighter: #ccc;
$gray-light: #666;
$black: #000;
$gray-light-bg: #f5f5f5;
$gray-lighter-bg: #f7f7f7;
$gray-dark-bg: #dddddd;
$blue: #104f71;
$blue-light: #3ea2da;
$red: red;